<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center title">
        <strong> Weapon </strong> and <strong>Spell</strong> Shop
      </h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div *ngFor="let item of items; let in = index">
        <div class="col-md-4" style="float: left;">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="data">
                <h1>{{ item.name }}</h1>
                <p>Price : {{ item.price }}</p>
                <img class="images" [src]="item.image" style="width: 100%;" />
                <p style="text-align: justify;">{{ item.desc }}</p>
              </div>
              <div class="row col-md-12">
                <button (click)="addToCart(item, in)" [ngClass]="item.add">
                  {{ item.button }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default min-h1">
        <div class="panel-body">
          <div class="total lists">
            <h3><strong> Weapon </strong> and <strong>Spell</strong> List</h3>

            <label>Total : </label>
            <label>{{ total }}</label>
            <br /><br />
            <div class="col-md-6"><label> Name </label></div>
            <div class="col-md-6"><label> Price </label></div>
            <div *ngFor="let list of listCart; let x = index">
              <div class="lists">
                <div class="col-md-6">
                  <p>{{ x + 1 }} {{ list.name }}</p>
                </div>
                <div class="col-md-6">
                  <p>{{ list.price }}</p>
                </div>
              </div>
            </div>
            <hr />
            <br />
            <button class="pay btn btn-primary" (click)="payBtn(total)">
              Pay
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
